/* Code CSS ở đây */

* {
    box-sizing: border-box;
  }
  
  /* Để sử dụng rem */
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: Quicksand, sans-serif;
  }
  
  /* Common */
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: calc(100% - 100px);
    margin-left: auto;
    margin-right: auto;
    /* không để margin: auto vì nếu vậy sẽ mặc định margin top+bottom = 0 > sau này sẽ ghi đè*/
  }
  
  header {
    position: relative;
    background-color: #171c28;
    padding: 12.5px 0px;
  }
  
  /* ======== Navigation ======== */
  .logo-nav {
    display: flex;
    align-items: center;
    margin-top: -7px;
  }
  
  .logo-nav .logo-title {
    color: var(--primary-color);
    margin-left: 14px;
    color: #ffbe98;
    font-size: 40px;
    font-weight: 700;
  }
  
  .top-bar {
    display: flex;
    /* Căn giữa theo chiều dọc */
    align-items: center;
  }
  
  .top-bar ul {
    display: flex;
    margin-left: 8.6rem;
    list-style-type: none;
  }
  
  .top-bar .top-act {
    display: flex;
    margin-left: auto;
    /* Trong flexbox, margin sẽ đẩy phần tử con ra khỏi hưởng được set*/
    align-items: center;
  }
  
  .navbar ul a {
    margin-left: 15px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
    padding: 8px 10px;
  }
  
  .top-bar .top-act {
    gap: 24px;
  }
  
  .top-bar .top-act-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 15px;
    border: none;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .navbar .top-act-title {
    margin-left: 10px;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .navbar ul a:hover {
    text-decoration: underline;
    color: #ffbe98;
  }
  /* Home Title */
  .home-title {
    display: flex;
    align-items: center;
    padding: 9px 0;
    text-align: center;
  }
  
  .home-title .title {
    color: #f86624;
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 10px;
  }
  
  /* Main Content Home*/
  #main-content {
    background-color: #d9d9d9;
    min-height: calc(100vh - 120px);
    max-width: 100vw;
    padding: 15px;
  }
  
  .home-row {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  
  .home-item {
    display: flex;
    align-items: center;
    width: 365px;
    height: 90px;
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 8px;
  }
  
  .home-item img {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .home-item .item {
    margin-left: 10px;
  }
  
  .item-title {
    color: #1a162e;
    font-size: 2.4rem;
    font-weight: 700;
  }
  
  .item-number {
    color: #1a162e;
    font-size: 4rem;
    font-weight: 700;
  }
  .home-title .add-new-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #ffbe98;
    color: #000;
    text-align: center;
    padding: 15px 35px;
    font: 600 18px/1.67 Quicksand, sans-serif;
    cursor: pointer;
    margin-left: 950px;
  }
  .home-title .add-new-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #ffbe98;
    color: #000;
    text-align: center;
    padding: 15px 35px;
    font: 600 18px/1.67 Quicksand, sans-serif;
    cursor: pointer;
    margin-left: 850px;
  }
  /* Danh sách coupon - Table */
  .filter-cp {
    display: flex;
  }
  
  .filter,
  .filter-input,
  .filter-btn {
    padding: 5px;
    font-size: 1.6rem;
    border: 1px solid #a6a6a6;
    height: 48px;
    font-family: Quicksand;
    font-weight: 600;
    font-size: 1.6rem;
  }
  
  .filter-input {
    display: block;
    width: 100%;
  }
  
  .filter,
  .filter-btn {
    background-color: #ffbe98;
  }
  
  .filter-btn {
    width: 80px;
    height: 48px;
    object-fit: none;
  }
  .coupon-list {
    margin: 10px 0px;
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .coupon-list td > img {
    display: inline-block;
    width: 55px;
    background-color: #f6f6f6;
  }
  
  .coupon-list td > img:hover {
    transform: scale(3);
  }
  
  .coupon-list td img:hover {
    cursor: pointer;
  }
  
  .coupon-list,
  .coupon-list td,
  .coupon-list th {
    border-bottom: 1px solid #d9d9d9;
  }
  
  .coupon-list td {
    vertical-align: middle;
    padding: 5px;
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
    max-width: 200px;
  }
  
  .coupon-list th {
    padding: 10px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  .action {
    margin-top: 8px;
  }
  
  /* List number */
  .list-number {
    display: inline-block;
    margin-left: 50%;
    margin: 20px 0px 10px 50%;
    padding: 10px;
    background: #fff;
    transform: translate(-50%);
  }
  
  .list-number button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 3px;
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
  }
  
  .list-number button:hover {
    color: #f86624;
  }
  
  /* Page Edit coupon */
  #main-content-2 {
    background-color: #d9d9d9;
    padding: 80px 30px 0;
  }
  
  .edit-coupon {
    background-color: #fff;
    padding: 20px 20px;
  }

  .form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
  }
  
  .form-group:not(:last-child) {
    margin-bottom: 36px;
  }
  
  .form-label,
  .form-input {
    display: block;
  }
  
  .form-label {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #1a162e;
    font-weight: 700;
    line-height: 91.667%;
  }
  
  .form-input {
    padding-left: 5px;
    font-size: 1.6rem;
    width: 100%;
    height: 48px;
    border: 1px solid #051023;
    border-radius: 5px;
    font-family: Quicksand;
    font-weight: 600;
  }
  
  .form-input.desc {
    height: 163px;
  }
  
  .edit-action {
    text-align: center;
  }
  
  .edit-btn {
    margin: 18px 43px;
    padding: 15px 35px;
    width: 150px;
    border: 0;
    border-radius: 5px;
    background: #ffbe98;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .file-pro {
    width: 250px;
  }
  
  