<div class="index_main">
  <div class="top-bar">
    <!-- Logo -->
    <a href="./" class="logo-nav">
      <img src="./icon/Logo.svg" alt="Luxe" />
      <h1 class="logo-title">Luxe</h1>
    </a>
    <!-- nav = navigation giống div nhưng có ngữ nghĩa -->
    <!-- Navigation -->
    <nav class="navbar-index">
      <ul class="menu">
        <li><a href="./index.html">TRANG CHỦ</a></li>
        <li>
          <a href="./sanpham.html">SẢN PHẨM</a>
          <ul class="sub-menu">
            <li><a href="./danhmuc.html">DANH MỤC SẢN PHẨM</a></li>
            <li><a href="./sanpham.html">QUẢN LÝ SẢN PHẨM</a></li>
          </ul>
        </li>
        <li><a href="./ds-khuyenmai.html">KHUYẾN MÃI</a></li>
        <li><a href="./donhang.html">ĐƠN HÀNG</a></li>
        <li><a href="./khachhang.html">KHÁCH HÀNG</a></li>
        <li><a href="./nhanvien.html">NHÂN VIÊN</a></li>
        <li><a href="./thongke-danhgia.html">THỐNG KÊ</a></li>
        <li><a href="./dangnhap.html">ĐĂNG XUẤT</a></li>
      </ul>
    </nav>

    <!-- Action -->
    <div class="top-act">
      <button class="top-act-btn">
        <a href="./dangnhap.html"
          ><img src="./icon/header-user.svg" alt=""
        /></a>
      </button>
    </div>
  </div>
</div>
