<div class="index_main">
  <div class="top-bar">
    <!-- Logo -->
    <a href="./" class="logo-nav">
      <img src="./icon/Logo.svg" alt="Luxe" />
      <h1 class="logo-title">Luxe</h1>
    </a>
    <!-- nav = navigation giống div nhưng có ngữ nghĩa -->
    <!-- Navigation -->
    <nav class="navbar-index">
      <ul class="menu">
        <li><a href="#!">Trang chủ</a></li>
        <li>
          <a href="#!">Sản phẩm</a>
          <ul class="sub-menu">
            <li><a href="#">Danh mục sản phẩm</a></li>
            <li><a href="#">Quản lý sản phẩm</a></li>
          </ul>
        </li>
        <li><a href="#!">Khuyến mãi</a></li>
        <li><a href="#!">Đơn hàng</a></li>
        <li><a href="#!">Khách hàng</a></li>
        <li><a href="#!">Nhân viên</a></li>
        <li><a href="#!">Thống kê</a></li>
      </ul>
    </nav>

    <!-- Action -->
    <div class="top-act">
      <button class="top-act-btn">
        <img src="./icon/user.svg" alt="" />
      </button>
    </div>
  </div>
</div>
