<div class="index_main">
  <div class="top-bar">
    <!-- Logo -->
    <a href="./" class="logo-nav">
      <img src="./icon/Logo.svg" alt="Luxe" />
      <h1 class="logo-title">Luxe</h1>
    </a>
    <!-- nav = navigation giống div nhưng có ngữ nghĩa -->
    <!-- Navigation -->
    <nav class="navbar-index">
      <ul class="menu">
        <li><a href="./index.html">Trang chủ</a></li>
        <li>
          <a href="./sanpham.html">Sản phẩm</a>
          <ul class="sub-menu">
            <li><a href="./danhmuc.html">Danh mục sản phẩm</a></li>
            <li><a href="./sanpham.html">Quản lý sản phẩm</a></li>
          </ul>
        </li>
        <li><a href="./khuyenmai.html">Khuyến mãi</a></li>
        <li><a href="./donhang.html">Đơn hàng</a></li>
        <li><a href="./khachhang.html">Khách hàng</a></li>
        <li><a href="./nhanvien.html">Nhân viên</a></li>
        <li><a href="./thongke-danhgia.html">Thống kê</a></li>
      </ul>
    </nav>

    <!-- Action -->
    <div class="top-act">
      <button class="top-act-btn">
        <a href="./dangnhap.html"
          ><img src="./icon/header-user.svg" alt=""
        /></a>
      </button>
    </div>
  </div>
</div>
